import { use{{pascalCase name}}s } from '../api/get-{{kebabCase name}}s';

import { {{pascalCase name}}ListItem } from './{{kebabCase name}}-list-item';

export const {{pascalCase name}}List = () => {
  const {{camelCase name}}sQuery = use{{pascalCase name}}s();

  return (
    <>
      <ul>
        {({{camelCase name}}sQuery.data || []).map(({{camelCase name}}, index) => (
          <li key={index}>
            <{{pascalCase name}}ListItem {{camelCase name}}={ {{~camelCase name~}} } />
          </li>
        ))}
      </ul>
    </>
  );
};
