import { useParams } from '@/router';

import { use{{pascalCase name}} } from '../../_/api/get-{{kebabCase name}}';
import { Update{{pascalCase name}} } from '../../_/components/update-{{kebabCase name}}';

export default function Page() {
  const { id } = useParams('/{{kebabCase name}}s/:id/update');

  const {{camelCase name}}Query = use{{pascalCase name}}({ id: Number(id) });

  if (!{{camelCase name}}Query.data) {
    return <div>Not Found</div>;
  }

  return (
    <>
      <Update{{pascalCase name}} {{camelCase name}}={ {{~camelCase name}}Query.data} />
    </>
  );
}
